In [1]:
import pandas as pd

In [12]:
df_air_temperature = pd.read_csv("../Desktop/TechLabs/Weather data/temperature_produkt_tu_termin_18740101_20231231_01443.txt",
                                 delimiter=";", usecols=["MESS_DATUM", "RF_TER", "TT_TER"])
df_air_temperature = df_air_temperature.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "RF_TER": "Relative_Humidity",
    "TT_TER": "Air_Temperature"
})

# Convert 'Measurement_Date' to datetime
df_air_temperature['Measurement_Date'] = pd.to_datetime(df_air_temperature['Measurement_Date'], format='%Y%m%d%H')

# Set the datetime column as the index
df_air_temperature.set_index('Measurement_Date', inplace=True)

# Resample to daily, aggregating with mean for temperature and humidity
df_air_temperature_daily = df_air_temperature.resample('D').agg({
    'Air_Temperature': 'mean',   # Average temperature
    'Relative_Humidity': 'mean'  # Average humidity
})
# Filter data to keep entries from 2015 onward
df_air_temperature_daily = df_air_temperature_daily.loc['2015-01-01': '2023-07-31']

In [10]:
print(df_air_temperature_daily.head())

                  Air_Temperature  Relative_Humidity
Measurement_Date
2015-01-01              -3.500000          96.000000
2015-01-02               1.133333          79.666667
2015-01-03               5.800000          93.666667
2015-01-04               3.033333          81.666667
2015-01-05              -0.800000          83.333333

In [13]:
from IPython.display import display
display(df_air_temperature_daily.head(5))
display(df_air_temperature_daily.tail(5))

                  Air_Temperature  Relative_Humidity
Measurement_Date
2015-01-01              -3.500000          96.000000
2015-01-02               1.133333          79.666667
2015-01-03               5.800000          93.666667
2015-01-04               3.033333          81.666667
2015-01-05              -0.800000          83.333333

                  Air_Temperature  Relative_Humidity
Measurement_Date
2023-07-27               -488.050            -469.75
2023-07-28                 20.750              73.50
2023-07-29                 21.150              77.75
2023-07-30               -233.550            -204.75
2023-07-31               -233.975            -207.75

In [16]:
df_cloudiness = pd.read_csv("../Desktop/TechLabs/Weather data/cloudiness_produkt_n_termin_18740101_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM","N_TER"])
df_cloudiness = df_cloudiness.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "N_TER": "Cloud_Cover"
})

df_cloudiness['Measurement_Date'] = pd.to_datetime(df_cloudiness['Measurement_Date'], format='%Y%m%d%H')

df_cloudiness.set_index('Measurement_Date', inplace=True)

df_cloudiness_daily = df_cloudiness.resample('D').agg({
    'Cloud_Cover': 'mean',   
})
# Filter data to keep entries from 2015 onward
df_cloudiness_daily = df_cloudiness_daily.loc['2015-01-01': '2023-07-31']

In [17]:
display(df_cloudiness_daily.head(5))
display(df_cloudiness_daily.tail(5))

                  Cloud_Cover
Measurement_Date
2015-01-01           4.333333
2015-01-02           6.666667
2015-01-03           8.000000
2015-01-04           3.333333
2015-01-05           2.000000

                  Cloud_Cover
Measurement_Date
2023-07-27            -496.75
2023-07-28               6.00
2023-07-29               6.00
2023-07-30            -244.25
2023-07-31            -495.50

In [19]:
df_visibility = pd.read_csv("../Desktop/TechLabs/Weather data/visibility_produkt_vk_termin_19490501_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM","VK_TER"])

df_visibility = df_visibility.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "VK_TER": "Visibility"
})
# Convert 'Measurement_Date' to datetime
df_visibility['Measurement_Date'] = pd.to_datetime(df_visibility['Measurement_Date'], format='%Y%m%d%H')

# Set the datetime column as the index
df_visibility.set_index('Measurement_Date', inplace=True)

# Resample to daily, aggregating with mean for visibility
df_visibility_daily = df_visibility.resample('D').agg({
    'Visibility': 'mean'  # Average visibility for the day
})
df_visibility_daily = df_visibility_daily.loc['2015-01-01': '2023-07-31']

In [20]:
display(df_visibility_daily.head(5))
display(df_visibility_daily.tail(5))

                  Visibility
Measurement_Date
2015-01-01          3.666667
2015-01-02          7.666667
2015-01-03          6.666667
2015-01-04          8.333333
2015-01-05          6.333333

                  Visibility
Measurement_Date
2023-07-27            -495.0
2023-07-28               9.0
2023-07-29               8.5
2023-07-30            -243.0
2023-07-31            -243.0

In [37]:
df_precipitation = pd.read_csv(
    "../Desktop/TechLabs/Weather data/Precipatation_produkt_nieder_tag_18740101_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM","RS", "SH_TAG"])

df_precipitation = df_precipitation.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "RS": "Daily_Precipitation_Height",
    "SH_TAG": "Snow_Height_Daily_Value"
})

df_precipitation['Measurement_Date'] = pd.to_datetime(df_precipitation['Measurement_Date'], format='%Y%m%d')

df_precipitation.set_index('Measurement_Date', inplace=True)

df_precipitation_daily = df_precipitation

df_precipitation_daily = df_precipatation_daily.loc['2015-01-01': '2023-07-31']

ValueError: Usecols do not match columns, columns expected but not found: ['RS']

In [22]:
df_solar = pd.read_csv(
    "../Desktop/TechLabs/Weather data/Solar_irradiance_Freiburg_Dach_2015-01-01_2023-07-31.csv", delimiter=",", usecols=["Beginn-Lokalzeit","Globalstrahlung (W/m²)"])

df_solar = df_solar.rename(columns={
    "Beginn-Lokalzeit": "Measurement_Date",
    "Globalstrahlung (W/m²)": "Global_Radiation"
})

df_solar['Measurement_Date'] = pd.to_datetime(df_solar['Measurement_Date'], format='%Y-%m-%d %H:%M:%S')  # Adjust the format if needed

df_solar.set_index('Measurement_Date', inplace=True)

df_solar_daily = df_solar.resample('D').sum()

In [23]:
display(df_solar_daily.head(5))
display(df_solar_daily.tail(5))

                  Global_Radiation
Measurement_Date
2018-04-23                 -9999.0
2018-04-24                 -9999.0
2018-04-25                 -9999.0
2018-04-26                 -9999.0
2018-04-27                 -9999.0

                  Global_Radiation
Measurement_Date
2023-07-26               181.71090
2023-07-27               196.20780
2023-07-28                83.90436
2023-07-29               147.99370
2023-07-30               209.00730

In [27]:
df_wind = pd.read_csv(
    "../Desktop/TechLabs/Weather data/wind_produkt_fk_termin_18740101_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM","DK_TER", "FK_TER"])

df_wind = df_wind.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "DK_TER": "Wind_Direction",
    "FK_TER": "Wind_Strength"
})

df_wind['Measurement_Date'] = pd.to_datetime(df_wind['Measurement_Date'], format='%Y%m%d%H')

df_wind.set_index('Measurement_Date', inplace=True)

df_wind_daily = df_wind.resample('D').agg({
    'Wind_Direction': 'mean',   
    'Wind_Strength': 'mean'  
})
df_wind_daily = df_wind_daily.loc['2015-01-01': '2023-07-31']

In [28]:
display(df_wind_daily.head(5))
display(df_wind_daily.tail(5))

                  Wind_Direction  Wind_Strength
Measurement_Date
2015-01-01             25.333333       2.000000
2015-01-02             20.000000       2.666667
2015-01-03             14.666667       3.000000
2015-01-04             26.666667       2.000000
2015-01-05             17.333333       1.000000

                  Wind_Direction  Wind_Strength
Measurement_Date
2023-07-27               -490.50        -498.00
2023-07-28                 20.00           2.25
2023-07-29                 22.00           2.50
2023-07-30               -231.75        -247.25
2023-07-31               -234.75        -247.25

In [42]:
df_air_pressure = pd.read_csv(
    "../Desktop/TechLabs/Weather data/wind_produkt_fk_termin_18740101_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM","PP_TER"])

df_air_pressure = df_air_pressure.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    " PP_TER ": "Air_Pressure_at_Station_Height"
})
df_air_pressure['Measurement_Date'] = pd.to_datetime(df_air_pressure['Measurement_Date'], format='%Y%m%d%H')

df_air_pressure.set_index('Measurement_Date', inplace=True)

df_air_pressure_daily = df_air_pressure.resample('D').agg({
    'Air_Pressure_at_Station_Height': 'mean',
})
df_air_pressure_daily = df_air_pressure_daily.loc['2015-01-01': '2023-07-31']

ValueError: Usecols do not match columns, columns expected but not found: ['PP_TER']

In [32]:
df_vapour_pressure_and_rel_humidity = pd.read_csv(
    "../Desktop/TechLabs/Weather data/vapour_pressure_relative_humidity_produkt_tf_termin_18740101_20231231_01443.txt", delimiter=";", usecols=["MESS_DATUM", "RF_TER", "TF_TER", "VP_TER"])

df_vapour_pressure_and_rel_humidity = df_vapour_pressure_and_rel_humidity.rename(columns={
    "MESS_DATUM": "Measurement_Date",
    "RF_TER": "Relative_Humidity",
    "TF_TER": "Dew_Point_Temperature",
    "VP_TER": "Vapor_Pressure"
})

df_vapour_pressure_and_rel_humidity['Measurement_Date'] = pd.to_datetime(
    df_vapour_pressure_and_rel_humidity["Measurement_Date"], format="%Y%m%d%H")

df_vapour_pressure_and_rel_humidity.set_index('Measurement_Date', inplace=True)

df_vapour_pressure_and_rel_humidity_daily = df_vapour_pressure_and_rel_humidity.resample('D').agg({
    "Vapor_Pressure": "mean",
    "Dew_Point_Temperature": 'mean'}
)
df_vapour_pressure_and_rel_humidity_daily = df_vapour_pressure_and_rel_humidity_daily.loc['2015-01-01': '2023-07-31']

In [33]:
display(df_vapour_pressure_and_rel_humidity_daily.head(5))
display(df_vapour_pressure_and_rel_humidity_daily.tail(5))

                  Vapor_Pressure  Dew_Point_Temperature
Measurement_Date
2015-01-01              4.533333              -3.700000
2015-01-02              5.333333              -0.200000
2015-01-03              8.800000               5.300000
2015-01-04              6.200000               1.833333
2015-01-05              4.700000              -1.833333

                  Vapor_Pressure  Dew_Point_Temperature
Measurement_Date
2023-07-27              -491.175               -490.700
2023-07-28                17.850                 17.450
2023-07-29                19.200                 18.275
2023-07-30              -238.125               -237.350
2023-07-31              -239.225               -238.125

In [ ]:
dataframes = [df_air_temperature_daily, df_visibility_daily, df_air_pressure_daily, df_cloudiness_daily, df_precipitation_daily, df_solar_daily, df_vapour_pressure_and_rel_humidity_daily, df_wind_daily]

# Concatenate all DataFrames along columns (axis=1), aligning by the index
df_combined = pd.concat(dataframes, axis=1)

# Display the concatenated DataFrame
df_combined